/* CSS comum a todas as páginas */

body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: #000000;
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.setup-conversao {
  margin: 3% auto 0;
  width: 40%;
  border-radius: 30px;
}

.setup-conversao fieldset > legend, label {
  padding: 15px;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
}

.setup-conversao select {
  padding: 0.5em 2em;
}

.setup-conversao button {
  width: 40%;
  padding: 0.25em;
  margin: 0 auto 1em;  
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s all;
  cursor: pointer;
}

.setup-conversao button:hover {
  transform: scale(1.2);
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.botao-voltar {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 4%;
  background: white;
  font-size: 2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Home */
.body-home {
  color: white;
  background-image: url(imagens/bg_home.jpg);
}

.principal-home {
  font-size: 3em;
  font-weight: bold;
  margin: 3em 0 0;
  color: white;
}

.escolha {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 2em auto 0;
}

.escolha a {
  text-decoration: none;
  color: white;
}

.escolha img {
  width: 180px;
  margin-top: 2em;
}

.escolha figcaption {
  margin-top: 2em;
  font-size: 1.5em;
  font-weight: bold;
}

#caption-cambio {
  margin-top: 2.35em;
}

#caption-interestelar {
  margin-top: 3.85em;
}


/* Conversor de moedas */

.body-conversor-moedas {
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  font-size: 2em;
  font-weight: bold;
}
  
.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}
  
.page-logo {
  width: 200px;
}
  
#setup-conversao-moedas {
  background-color: rgba(218, 30, 38,0.9);
  border: solid white 3px;
}

.ultimo-select {
  margin: 0 0 1em;
}

#valor-entrada {
  width: 25%;
  margin: 0 0 1em;
  padding: 0.25em;
}

#setup-conversao-moedas button {
  color: rgba(218, 30, 38,0.9);
  background: white;
  border: none;
}

#valor-convertido{
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.8em;
}

.imagem-moedas {
  width: 100%;
  position: absolute;
  top: 65%;
  filter: opacity(0.4);
  max-height: 250px;
}

#botao-voltar-moedas {
  color: rgb(218, 30, 38);
}


/* Conversor de distâncias */

.setup-conversao h2{
  padding: 1em 0 0.5em;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.body-conversor-distancias {
  background-image: url(imagens/bg_interestelar.jpg);
}

#setup-conversao-distancias {
  background-color: rgba(0,0,0,0.9);
  border: solid yellow 3px;
}

#setup-conversao-distancias button {
  color: yellow;
  background-color: #000000;
  border: solid yellow 2px;
}


/* Conversor de temperaturas */

.body-conversor-temperaturas {
  background-image: url(imagens/bg_temperatura.jpg);
}

#setup-conversao-temperaturas {
  background-color: rgba(87, 84, 84, 0.8);
}

#setup-conversao-temperaturas button {
  color: firebrick;
  background-color: rgb(223, 203, 203);
  border: solid rgb(61, 58, 58) 2px;
}

#botao-voltar-temperaturas {
  color: rgb(87, 84, 84);
}